html,body,header,main,nav,aside,article,footer,h1,h2,h3,h4,h5,h6,ul,ol,li,img,a,em,i,small,code,fieldset { margin:0; padding:0; }
ul,ol,li { list-style:none; }
button { border:none; background:transparent; color:inherit; }